<%- include("partials/header") %>

<main>

    <div>Cette personne s'appelle <%= coordinate.name %></div>
    <div>son numero de telephone est <%= coordinate.telephone %></div>
    <div>et habite <%= coordinate.adresse %></div>

</main>
<%- include("partials/footer") %>